.hero {
  background-image: url('src/assets/photos/hero.jpg');
  background-size: cover;
  background-position: 50% 25%;
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero::before,
.hero::after {
  content: '';
  position: absolute;
  height: 100%;
  z-index: 1;
}

.hero::before {
  top: 0;
  left: 7%;
  width: 5%;
  background: var(--red-overlay);
}

.hero::after {
  top: 0;
  right: 0;
  width: 88%;
  background: var(--translucent-black-50);
}

.heroContent {
  width: 60%;
  z-index: 2;
}

.heroContent p {
  font-size: 1.75em;
  color: var(--white);
}
