.quantitySelector {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--deep-red);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
}
.button:disabled {
  background-color: var(--light-gray);
  color: var(--med-gray);
  cursor: not-allowed;
}
.quantity {
  font-size: 18px;
  margin: 0 10px;
}
