.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  background-color: var(--very-light-gray);
}
.errorMessage h1 {
  font-size: 1.5em;
  margin: 10px 0 10px;
  font-weight: 600;
  text-transform: lowercase;
}
.errorMessage p {
  font-size: 1.1em;
  margin-bottom: 20px;
}
.errorMessage .divider {
  width: 60px;
  height: 2px;
  background-color: var(--black);
  margin: 15px 0;
}
