.item {
  flex: 0 0 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.item:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.item-title {
  padding: 10px;
  text-align: center;
}

.item-title h3 {
  font-size: 1em;
  margin: 10px 0;
}

.item-overlay {
  position: absolute;
  top: 330px;
  width: 100%;
  background-color: var(--deep-red);
  color: white;
  text-align: center;
  padding: 10px 0;
  visibility: hidden;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:hover .item-overlay {
  visibility: visible;
}

.check-mark {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
