.item {
  flex: 0 0 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.item:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.itemTitle {
  padding: 10px;
  text-align: center;
}
.itemTitle h3 {
  font-size: 1em;
  margin: 10px 0;
}
.itemOverlay {
  position: absolute;
  top: 330px;
  width: 100%;
  background-color: var(--deep-red);
  color: white;
  text-align: center;
  padding: 11px 0;
  visibility: hidden;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.item:hover .itemOverlay,
.item:hover .sizes {
  visibility: visible;
}
.sizes {
  position: absolute;
  padding: 0;
  top: 285px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
