.btn {
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  text-align: center;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.primary {
  background-color: var(--deep-red);
  color: white;
}

.primary:hover {
  background-color: var(--deep-red);
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px --var(translucent-black-15);
}

.disabled {
  background-color: var(--light-gray);
  color: var(--med-gray);
  cursor: not-allowed;
}
