.detail-screen {
  display: flex;
  padding: 70px;
}
.image-wrapper {
  width: 500px;
  min-width: 350px;
  margin-right: 70px;
}
.details {
  width: 50%;
  height: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details h1 {
  margin-bottom: 10px;
}
.add-to-cart-button {
  background-color: var(--deep-red);
  color: white;
  text-align: center;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.check-mark {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.sizes {
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin-bottom: 20px;
}
