:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --white: #ffffff;
  --black: #000000;
  --red: #ff0000;
  --translucent-black-50: rgba(0, 0, 0, 0.5);
  --translucent-black-15: rgba(0, 0, 0, 0.15);
  --red-overlay: rgba(139, 0, 0, 0.3);
  --deep-red: rgba(139, 0, 0, 0.85);
  --light-gray: #d6d6d6;
  --med-gray: #a1a1a1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--black);
}

h1 {
  margin: 0;
}
